@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$fontp: 'Ubuntu', sans-serif;
$fonts: 'Inconsolata', sans-serif;
$cnegro: #333C44;
$cblanco: #fff;
$cboton: #3fb1b5;
$cgris: #ddd;
$cbody: #F4F4F4;
$fontsize:13px;
$fontespacio: 0.02em;
$btn_rojo: #D80027;
$btn_azul: #006DF0;
$btn_verde: #91DC5A;
$clinea: #eaeaea;

body, html{
	height: 100%;
}
body{
	font-family:$fontp;
	font-size: $fontsize;
	letter-spacing: $fontespacio;
	background: $cbody;
}
 .prin_app{
 	float: left;
 	width: 100%;
 	height: 100%;
 	position: relative;
 	background: url('img/fondo_wakami.jpg') no-repeat center;
 	background-size:cover;
	
	.container,.container .row{
		height: 100%;
 		position: relative;
	}

 }


.area_login 
{
			position: absolute;
	 		width: 35%;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin:auto;
			height: 300px;

		 	.panel{
		 		background: none !important;
			    box-shadow: 0 1px 1px rgba(0, 0, 0, 0) !important;
			    border:none !important;
		 	}
		 	.panel-default > .panel-heading{
		 		background: url('img/wakami_logo.png') no-repeat center;
		 		background-size: 220px;
		 		padding: 0 !important;
		 		border:none !important;
		 		height: 105px;
		 	}
		 	.form-control{
		 		background: none !important;
		 		border: none !important;
		 		border-bottom: 2px solid $cnegro !important;
		 		border-radius: 0px !important;
		 		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0) !important;
		 	}
}
.check_login{
	float: right;
}

.btn-primary{
 	background: $cboton;
 	border: none !important;
 	text-transform: uppercase;
 	color: #fff;
 	font-size: 14px;
 	font-family: $fontp;
	letter-spacing: 0.04em;
	opacity: 0.9;
	padding: 8px 12px;
	border-radius: 15px;
}
.btn-primary:hover{
	background: $cboton;
	opacity: 1;
}
.btn_100{
	float:left;
	width:100%;
}
.btn_blanco{
	background:rgba(255,255,255,0.6);
	padding: 8px 12px;
	border-radius: 15px;
	color: #aaa;
	 transition: all 0.05s ease;
}
.btn_blanco:hover{
	background: #fff;
	text-decoration: none !important;
	color: #aaa;
}
.btn_regis{
	margin-top: 14px;
	background: $cboton;
 	border: none !important;
 	text-transform: uppercase;
 	color: #fff;
 	font-size: 14px;
 	font-family: $fontp;
	letter-spacing: 0.04em;
	opacity: 0.9;
	padding: 12px;
	border-radius: 5px;
	float:left;
	width: 100%;
}

.btn_porcen{
	margin-top: 0px;
	background: $btn_verde;
 	border: none !important;
 	text-transform: uppercase;
 	color: #fff;
 	font-size: 14px;
 	font-family: $fontp;
	letter-spacing: 0.04em;
	opacity: 0.9;
	padding:4px 6px;
	border-radius: 5px;
	float:right;
	width: 100%;
}

.btn_porcenx{
	margin-top: 0px;
	background: $btn_rojo;
 	border: none !important;
 	text-transform: uppercase;
 	color: #fff;
 	font-size: 14px;
 	font-family: $fontp;
	letter-spacing: 0.04em;
	opacity: 0.9;
	padding:4px 6px;
	border-radius: 5px;
	float:right;
	width: 100%;
}

.btn_additem{
	margin-top: 0;
	background: $cboton;
 	border: none !important;
 	text-transform: uppercase;
 	color: #fff;
 	font-size: 12px;
 	font-family: $fontp;
	letter-spacing: 0.04em;
	opacity: 0.9;
	padding: 6px;
	border-radius: 5px;
	float:right;
	width: 40px;
}

.btn_delitem{
	margin-top: 0;
	background: $btn_rojo;
 	border: none !important;
 	text-transform: uppercase;
 	color: #fff;
 	font-size: 12px;
 	font-family: $fontp;
	letter-spacing: 0.04em;
	opacity: 0.9;
	padding: 6px;
	border-radius: 5px;
	float:right;
	width: 40px;
	margin-left: 5px;
}

.btn_cancelar{
	margin-top: 10px;
	background: $cblanco;
 	text-transform: uppercase;
 	color: #333;
 	font-size: 14px;
 	font-family: $fontp;
	letter-spacing: 0.04em;
	opacity: 0.9;
	padding: 12px;
	border-radius: 5px;
	float:left;
	width: 100%;
	border: 1px solid #ccc !important;
}
.btn_cancelar:hover{
	background: $clinea;
}

.prin_app
{
		 .form-prin{
		 	padding-bottom: 3px;
		 	border-bottom: 1px solid #e0e4cc;
		 }
		 .form-prin input{
		 	border: none !important;
		 	box-shadow: none !important;
		 	border-radius: 0 !important;
		 }
}
.help-block{
	font-size: 12px;
    text-align: center;
    float: left;
    width: 100%;
    padding: 5px 0;
    background: rgba(255,255,255,0.5);
    border-radius: 5px;
    font-weight: 400 !important;
    border-left: 3px solid #E84D34;
    color: #E84D34;
}

.top_conte{
	margin-top: 10px;
	position: static;
}
.navbar-default{
	position: fixed;
	width: 100%;
	background-color: $cnegro !important;
	border: none !important;
	border-radius: 0 !important;
	-webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.15);
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.15);
	margin-bottom: 0 !important;
	z-index: 300;
	.navbar-nav > li > a {
		color:$cblanco !important; 
	}
}
.logo_prin{
	float: left;
	width: 100px;
	height: 50px;
	background: url('img/logowakami.png') no-repeat center;
	background-size: 90px;
}
.li_btns{
	float: left;
	padding: 10px;

}

 .btn_wakami{
 	float:left;
 	width:25px;
 	height: 25px;
 }
 	.btn_alerta{
 		background: url('img/ico_alerta.svg') no-repeat center;
		background-size: 20px;
 	}
    .btn_mail{
 		background: url('img/ico_mail.svg') no-repeat center;
		background-size: 20px;
 	}
 	.btn_menu{
 		background: url('img/ico_menu.svg') no-repeat center;
		background-size: 18px;
 	}

@keyframes aocultar {
  from {
      top: 0;
  } to {
      top: -50px;
  }
}
@keyframes aaparecer {
  from {
      top: -50px;
  } to {
      top: 0;
  }
}
.hora_actual{
	float: right;
	padding:10px 15px;
	font-size: 18px;
	font-weight: normal;
}
 .menu_dos.ng-hide{
		position: relative;
 	 animation: 0.2s aocultar;
 }
 .menu_dos{
 	margin-top: 50px;
 	float: left;
 	width: 100%;
 	height: 50px;
 	background: #fff;
 	border-bottom: 1px solid $clinea;
 	 animation: 0.2s aaparecer;

 	.navbar-nav > li > a{
 		padding: 14px 18px 15px;
 		padding-left: 35px;
 		color: #535353;
 	}
 	.navbar-nav > li:hover{
 		transition: all linear 0.1s;
 		background: #f7f7f7;
 		color: #333;
 		  /*  border-bottom: 1px solid #eaeaea;*/
 	}

 	@keyframes menu_ocu {
	  from {
	      top: 0;
	  } to {
	      top: 50px;
	  }
	}
	@keyframes menu_apa {
	  from {
	      top: 150%;
	      opacity: 0;
	  } to {
	      top: 100%;
	      opacity: 1;
	  }
	}
 	.navbar-nav > li > .dropdown-menu{
 		-webkit-font-smoothing:antialiased;
 		padding: 0;
 		border-color: #eee;
 		border-radius: 0px;
 		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
 			 animation: 0.2s menu_apa;
            border-top: 3px solid #3CADAD;
 	}
 	.dropdown-menu > li > a{
 		 	transition: all linear 0.1s;
 		padding: 9px 20px;
 		font-size: 13px;
 	}
 	.dropdown-menu .divider{
 		margin:0;
 		background-color: $clinea;
 	}
 }
 	.ico_ventas{
 		background: url('img/ico-ventas2.svg') no-repeat 8px center;
 		background-size: 20px;
 	}
 	.ico_productos{
 		background: url('img/ico-productos2.svg') no-repeat 8px center;
 		background-size: 20px;
 	}
 	.ico_sucursales{
 		background: url('img/ico-sucursales2.svg') no-repeat 8px center;
 		background-size: 20px;
 	}
 	.ico_bodegas{
 		background: url('img/ico-bodegas2.svg') no-repeat 8px center;
 		background-size: 20px;
 	}
 	.ico_reportes{
 		background: url('img/ico-reportes2.svg') no-repeat 8px center;
 		background-size: 20px;
 	}
 	.ico_gastos{
 		background: url('img/ico-gastos2.svg') no-repeat 8px center;
 		background-size: 20px;
 	}
 	.ico_configuraciones{
 		background: url('img/ico-configuracion2.svg') no-repeat 8px center;
 		background-size: 20px;
 	}

 .header_conte{
 	float: left;
 	width: 100%;
 	padding:0 15px 15px;

 	h1{
 		float: left;
 		font-size: 18px;
 		font-weight: bold;
 		margin: 0;
 		padding: 10px 15px;
 		background: #fff;
 		-webkit-border-radius: 2px;
		border-radius: 2px;
		border-left: 5px solid $cboton;
 	}
 }	
 .btn_escri{
 	float: left;
 		font-size: 15px;
 		font-weight: 300;
 		margin: 0;
 		padding: 10px 15px;
 		background: #eee;
 		-webkit-border-radius: 2px;
		border-radius: 2px;
 }


 /******************Escritorio*********************/
.menu_escritorio{
	float: left;
	width: 100%;
	display: table;
	.col-xs-6, .col-sm-4,.col-md-3,.col-lg-2{
		display: inline-block;
		float: none;
		vertical-align: top;
	}
}
.caja_mescri{
	float: left;
	width: 100%;
	min-height: 255px;
	background: #fff;
	border-radius: 5px;
	margin-top: 50px;
			h1{
				font-size: 18px;
				float: left;
				width: 100%;
				margin: 0;
				padding: 5px 0;
				text-align: center;
				font-weight: bold;
			}
			ul{
			float: left;
			width: 100%;
			margin:0;
			margin-top: 5px;
			padding: 0;
			list-style: none;
			}
			li{
				float: left;
				width: 100%;
				a{
					float: left;
					width: 100%;
					border-top: 1px solid #eee;
					color: #535353;
					padding:8px 10px;
				}
				a:hover{
					text-decoration: none;
					background: #eee;
				}
			}
}
.ima_mescri{
	float: left;
	width: 100%;
	margin-top: 20px;
	height: 60px;
	background-size: 40px !important;
	background-position: center !important;
}



 .caja_contenido{
 	float: left;
 	width: 100%;
 	background: #fff;
 	-webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 0;
    min-height: 200px;
 }

 @keyframes conte_ocu {
	  from {
	       opacity: 1;
	  } to {
	      opacity: 0;
	  }
	}
	@keyframes conte_apa {
	  from {
	      opacity: 0;
	  } to {
	      opacity: 1;
	  }
	}
 .caja_contenidob{
 		float: left;
 	width: 100%;
 	background: #eee;
 	-webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 0;
    min-height: 200px;
    margin: 10px 0;
    animation: 0.3s conte_apa;

    .table > tbody > tr:hover{
		 	background: #e5e5e5;
		 }
 }
 .ng-hide{
 	animation: 0.3s conte_ocu;
 }
 .table > thead > tr > th{
 	font-size: 13px;
 	font-weight: bold;
 	padding:12px 10px !important;
 }
 .table > tbody > tr > td{
 	font-size: 13px;
 	color: #333;
 	font-weight: normal;
 	padding:12px 10px !important;
 	border-top: none !important;
 	border-bottom: 1px solid #eee; 
 }
 .table > tbody > tr:hover{
 	background: #f9f9f9;
 }
 
 .td_opciones{
	width: 125px;
 }
 .area_opciones{
 	float: left;
 	ul{
 		float: left;
 		list-style: none;
 		padding: 0;
 		width: 100%;
 		margin: -5px 0;
 	}
 	li{
 		float: left;
		width: 30px;
		margin-right: 3px;
 		a{
 			float: left;
 			width: 25px;
 			height: 25px;
 			padding: 5px;
 			top: -10px;
 			border-radius:50%;
 			  -webkit-transition: all 0.2s linear;
		     -moz-transition: all 0.2s linear;
		       -o-transition: all 0.2s linear;
		          transition: all 0.2s linear;
 		}
 	}
 }
 	.ico_cambiar{
 		background: url('img/ico_cambiar.svg') no-repeat center;
 		background-size: 18px; 
 	
 	}
 	.ico_cambiar:hover{
 		border-radius:50%;
 		background: $btn_azul url('img/ico_cambiar_b.svg') no-repeat center;
 		background-size: 15px; 
 	}

 	.ico_activado{
 		background: url('img/ico_activado.svg') no-repeat center;
 		background-size: 18px; 
 	}
 	.ico_activado:hover{
 		border-radius:50%;
 		background: $btn_verde url('img/ico_activado_b.svg') no-repeat center;
 		background-size: 15px; 
 	}
 	.ico_editar{
 		background: url('img/ico_editar.svg') no-repeat center;
 		background-size: 18px; 
 	}
 	.ico_editar:hover{
 		border-radius:50%;
 		background: $btn_azul url('img/ico_editar_b.svg') no-repeat center;
 		background-size: 15px; 
 	}
 	.ico_eliminar{
 		background: url('img/ico_eliminar.svg') no-repeat center;
 		background-size: 18px; 
 	}
 	.ico_eliminar:hover{
 		border-radius:50%;
 		background: $btn_rojo url('img/ico_eliminar_b.svg') no-repeat center;
 		background-size: 15px; 
 	}
	.ico_restaurar{
		background: url('img/ico_restaurar.svg') no-repeat center;
		background-size: 18px; 
 	}
 	.ico_restaurar:hover{
 		border-radius:50%;
 		background: #fff url('img/ico_restaurar.svg') no-repeat center;
 		background-size: 15px; 
 	}

 	.ico_porcentaje{
 		background: url('img/ico_porcentaje.svg') no-repeat center;
 		background-size: 18px; 
 	}
 	.ico_porcentaje:hover{
 		border-radius:50%;
 		background: $btn_azul url('img/ico_porcentaje_b.svg') no-repeat center;
 		background-size: 15px; 
 	}
   .nya-bs-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
   	width: 100% !important;
   }
   .adap_op {
   	margin-top: 10px,;
   }

  	.por_ac{
  		color: $btn_verde;
  		font-weight: bold;
  	}

 	.btn_g{
 		float: right !important;
 		width: 35px !important;
 		height: 35px !important;
 		margin:10px;

 				  -webkit-transition: all 0.1s linear;
		     -moz-transition: all 0.1s linear;
		       -o-transition: all 0.1s linear;
		          transition: all 0.1s linear;
		           		opacity: 0.8;
 	}
 	.ico_eliminarg{
 		border-radius:3px !important;
 		background: $btn_rojo url('img/ico_eliminar_b.svg') no-repeat center;
 		background-size: 20px; 

 	}
 	.ico_eliminarg:hover{
 		background-size: 20px; 
		          opacity: 1;
 	}

 	.btn_editarg{
 		border:none !important;
 		border-radius:3px !important;
 		background: $btn_azul url('img/ico_editar_b.svg') no-repeat center;
 		background-size: 20px; 

 	}
 	.btn_editarg:hover{
 		background-size: 20px; 
		          opacity: 1;
 	}

 	.btn_nuevog{
 		border:none !important;
 		border-radius:3px !important;
 		background: $cboton url('img/ico_check.svg') no-repeat center;
 		background-size: 20px; 

 	}
 	.btn_nuevog:hover{
 		background-size: 20px; 
		          opacity: 1;
 	}

.btn_nuevo{
	float: right;

	a{
		float: left;
		padding: 9px 15px;
		padding-right: 35px;
		margin-left: 5px;
		border-radius: 5px;
		background: $cboton url('img/ico_nuevo.svg') no-repeat right 10px center;
		background-size: 15px;
		color: #fff;
		font-size: 14px;
		text-align: center;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
		text-decoration: none;
			  -webkit-transition: all 0.1s linear;
		     -moz-transition: all 0.1s linear;
		       -o-transition: all 0.1s linear;
		          transition: all 0.1s linear;
	}
	a:hover{
		text-decoration: none;
		background: #3cadad url('img/ico_nuevo.svg') no-repeat right 10px center;
		background-size: 15px;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
	}
}

.btn_seg{
	float: right;

	a{
		float: left;
		padding: 9px 15px;
		margin-left: 5px;
		border-radius: 5px;
		background: $cgris;
		background-size: 15px;
		color: #333;
		font-size: 14px;
		text-align: center;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
		text-decoration: none;
			  -webkit-transition: all 0.1s linear;
		     -moz-transition: all 0.1s linear;
		       -o-transition: all 0.1s linear;
		          transition: all 0.1s linear;
	}
	a:hover{
		text-decoration: none;
		background: $cgris;
		background-size: 15px;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
	}
}



.btn_eliminados{
	float: right;

	a{
		float: left;
		width: 30px;
		height: 38px;
		padding: 9px 15px;
		padding-right: 35px;
		margin-left: 5px;
		border-radius: 5px;
		background: $cgris url('img/ico_eliminados.svg') no-repeat center;
		background-size: 22px;
		color: #fff;
		font-size: 14px;
		text-align: center;
		text-decoration: none;
			  -webkit-transition: all 0.1s linear;
		     -moz-transition: all 0.1s linear;
		       -o-transition: all 0.1s linear;
		          transition: all 0.1s linear;
	}
	a:hover{
		text-decoration: none;
		background: $cgris url('img/ico_eliminados.svg') no-repeat center;
		background-size: 22px;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
	}
}

.btn_opcion2{
	float: right;

	a{
		float: left;
		height: 38px;
		padding: 9px 15px;
		margin-left: 5px;
		border-radius: 5px;
		color: #333;
		font-size: 14px;
		text-align: center;
		background: $cgris;
		text-decoration: none;
			  -webkit-transition: all 0.1s linear;
		     -moz-transition: all 0.1s linear;
		       -o-transition: all 0.1s linear;
		          transition: all 0.1s linear;
	}
	a:hover{
		text-decoration: none;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
	}
}

@keyframes bocultar {
  from {
      right: 0;
  } to {
      right: -30%;
  }
}
@keyframes baparecer {
  from {
      right: -30%;
  } to {
      right: 0;
  }
}




#area_nuevo{
	position: fixed;
	background: #fff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
	min-height: 100%;
	width: 35%;
	right: 0;
	top: 0;
	z-index: 200;
	padding-top: 70px;
	animation: 0.2s baparecer;
	
}
#area_nuevo.ng-leave{
	animation: 0.2s bocultar;
}


#area_mas{
	position: fixed;
	background: #fff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
	min-height: 100%;
	width: 60%;
	right: 0;
	top: 0;
	z-index: 200;
	padding-top: 70px;
	animation: 0.2s baparecer;

	.conte_nuevo{
		float: left;
		width: 100%;
		padding: 20px 0;

		h3{
			float: left;
			width: 100%;
			margin: 5px 0;
			color: #3fb1b5;
		    font-weight: normal;
		    font-size: 12px;
		}
		h2{
			float: left;
			width: 100%;
			margin: 5px 0;
			font-size: 13px;
			 color: #333;
		    font-weight: normal;
		}
		.middle{
			margin: 15px 0;
			padding:10px 15px;
			background: #eee;

			.form-control{
				margin: 10px 0;
				padding: 8px 10px;
				height: auto;
				border-radius: 3px;
				border: 1px solid #ccc !important;
			}

				.btn_regis{
					margin: 28px 0  10px !important;
				}
		}
		.ico_agregar{
			float: left;
			width: 100%;
			height: 18px;
			background: url('img/ico_nuevo.svg') no-repeat center;
			background-size: 15px;
		}

		.footer{
			margin: 10px 0;
			border-top: 2px solid #ccc;
			padding-top: 15px;

			h1{
				float: left;
				width: 100%;
				margin: 5px 0;
				font-size: 30px;
				font-weight: bold;
			}
			.info_paso{
				margin: 12px 0;
			}
		}
	}
	
}
.label-codigo{
	background: #7CC6C9 !important;
	color: #fff;
	border-radius: 2px;
}
#area_mas.ng-leave{
	animation: 0.2s bocultar;
}

.header_nuevo{
	float: left;
	width: 100%;
	margin-bottom: 10px;
	border-bottom: 1px solid $clinea;

	h1{
		float: left;
		margin-top: 0px;
		font-size: 20px;
		font-weight: 300;
	}
}
.btn_cerrar{
	position: relative;
	top: -8px;
	float: right;
	width: 35px;
	height: 35px;
	background: url('img/ico_cerrar.svg') no-repeat center;
	background-size: 18px;
	border-radius: 50%;
}
.btn_cerrar:hover{
	background:#3FB1B5 url('img/ico_cerrar_b.svg') no-repeat center;
	background-size: 14px;
    border-radius: 50%;
      -webkit-transition: all 0.2s linear;
		     -moz-transition: all 0.2s linear;
		       -o-transition: all 0.2s linear;
		          transition: all 0.2s linear;
}



.conte_nuevo{
	float: left;
	width: 100%;
	padding: 20px 0;

	.form-control{
		border-top: none !important;
		border-left: none !important;
		border-right: none !important;
		border-bottom: 1px solid #ccc;
		border-radius: 0px;
	    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
	}
	.form-control:focus{
		border-bottom: 2px solid $cboton;
	}
	label{
		color: $cboton;
		font-weight: normal;
		font-size: 12px;
	}
}

.form-control.ng-invalid {
 border: 1px solid #F2DEDE; }
 
 .form-group .alert {
  padding: 5px 10px;
  font-size: 11px;
  margin: 5px 5px 5px 0;
  float: left; }
 
.form-group ol{
	float: left !important;
	width: 100% !important;
	margin: 8px 0;
}
.btn-group.open .dropdown-toggle{
	padding: 10px;
}
.nya-bs-select > .btn{
	padding-bottom: 10px;
	padding-left: 10px;
	padding-top: 10px;
}

 .spi {
  padding-left: 0 !important; }
 
 .spd {
  padding-right: 0 !important; }
 

@keyframes aler_ocultar {
  from {
      opacity: 1;
  } to {
      opacity: 0;
  }
}
@keyframes aler_aparecer {
  from {
      opacity: 0;
  } to {
      opacity: 1;
  }
}


.alert{
	animation: 0.2s aler_aparecer;
}
.alert.ng-leave{
	animation: 0.2s aler_ocultar;
}


@keyframes op_ocultar {
  from {
      opacity: 1;
       right: 30px;
  } to {
      opacity: 0;
        right: 180px;
  }
}
@keyframes op_aparecer {
  from {
      opacity: 0;
      right: 180px;
  } to {
      opacity: 1;
      right: 30px;
  }
}
.op_drop{
		.dropdown-menu{
			padding: 0;
			margin:0;
		    left: auto !important; 
			right: 30px !important;
			top: -15px;
			width: 180px;
			animation: 0.2s op_aparecer;
			border-color: #eee;
			box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
		}
		li{
			float: left;
			width: 100%;
		}
		p{
			float: left;
			width: 100%;
			padding: 10px 0;
			margin:0;
			font-size: 13px;
			text-align: center;
			line-height: 17px;
		}
}

.ed_drop{
		.dropdown-menu{
			padding: 0;
			margin:0;
		    left: auto !important; 
			right: 30px !important;
			top: -15px;
			width: 280px;
			animation: 0.2s op_aparecer;
			border-color: #eee;
			box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
		}
		li{
			float: left;
			width: 100%;
		}
		p{
			float: left;
			width: 100%;
			padding: 10px 0;
			margin:0;
			font-size: 13px;
			text-align: center;
			line-height: 17px;
		}
		.form-control{
			margin-top: 10px;
		}
}

.p_rol{
	float: left;
	margin: 5px 0;

}

/***Switch***********/
.onoffswitch {
	float: right;
    position: relative; width: 50px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.2s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #6DC234; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #ccc; color: #ccc;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 25px;  height: 25px; margin: 2.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 16px;
    border: 1px solid #eee;
     border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
    -webkit-box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.3);
box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.3);
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.table_height{
	margin-top: 25px;
	height: 400px;
	 overflow-y: scroll;
}

.table_height::-webkit-scrollbar {
    width: 8px;
    background-color: #ccc;
}

.table_height::-webkit-scrollbar-thumb {
        border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #3FB1B5;
}	

.caja_productos{
	float: left;
	width: 100%;
	 ul{
			display: table;
			list-style: none;
			padding: 0;
			margin: 0 0 25px 0;
			width: 100%;
		}
	li{
			display: inline-block;
		    width: 16.6666666667%;
		        position: relative;
		    min-height: 1px;
		    padding-left: 15px;
		    padding-right: 15px;
		    vertical-align: top;
		}
}

.h2_top{
	margin-top: 35px !important;
}

@media (max-width: 1199px) {
	.menu_dos {
		.navbar-nav > li > a{
				text-indent: -99999px;
				padding-left: 30px;
				padding-right: 30px;
				background-position: center center;
		}

	}
	.td_first{
		width: 0px !important;
	}
	.table > tbody > tr > td{
		font-size: 12px !important;
	}
	.table > thead > tr > th{
		font-size: 12px !important;
	}
}

@media (min-width: 768px) {

		.caja_productos{
			li{
				width: 33.33333333%;
			}
		}
		#area_mas{
			width: 90%;
		}
			#area_nuevo{
			width: 45%;
		}
}

@media (min-width: 992px) {
		.caja_productos{
			li{
				width: 25%;
			}
		}
		#area_mas{
			width: 80%;
		}
	
}

@media (min-width: 1200px) {
		.caja_productos{
			li{
				width:  20%;
			}
		}
		#area_mas{
			width: 65%;
		}

		#area_nuevo{
			width: 35%;
		}
}

@media (min-width: 1400px) {
		.caja_productos{
			li{
				width:  16.6666666667%;
			}
		}
}

.box_pro{
	float: left;
    width: 100%;
    min-height: 255px;
    background: #fff;
    border-radius: 5px;
    margin-top: 25px;

    .box_header{
			float: left;
			width: 100%;
			 min-height: 180px;
			border-bottom: 1px solid #eee;
    }
    .box_middle{
			float: left;
			width: 100%;
			/*border-bottom: 1px solid #eee;*/
			h1{
				font-size: 15px;
				font-weight: normal;
				padding: 10px 10px 5px;
				margin: 0;
				letter-spacing: 0em;
				line-height: 20px;
			}
			h2{
				float: left;
				font-size: 12px;
				font-weight: normal;
				padding: 5px 10px 5px;
				margin: 0;
				letter-spacing: 0em;
				color: #bbb;
			}
			p{
				float: right;
				font-size: 12px;
				font-weight: normal;
				padding: 5px 10px 5px;
				margin: 0;
				letter-spacing: 0em;
			}
			h3{
				clear: right;
				float: right;
				font-size: 12px;
				font-weight: normal;
				padding: 5px 10px 5px;
				padding-left: 20px;
				background: url('img/ico_barcode.svg') no-repeat left center;
				background-size: 16px;
				margin: 0;
				letter-spacing: 0em;
				color: #a4e562;
				text-align: right;
			}
    }
     .box_footer{
			float: left;
			width: 100%;
			border-bottom: 1px solid #eee;
			p{
				float: left;
				width: 50%;
				margin: 0;
				padding: 10px 10px 5px;
			}
     }
     .box_opciones{
     	float: left;
     	width: 100%;
     	padding: 5px;

     	.area_opciones{
     		float: right;
			margin-right: 15px;
     		li{
     			width: 30px !important;
     		}
     	}
     }
     .p_costo{
     	font-size: 16px;
     	color:  $btn_azul;
     }
      .p_preciop{
      	text-align: right;
     	font-size: 16px;
     	font-weight: bold;
     	color:  $cboton;
     }

}
.sin_imagen{
	float: left;
	width: 100%;
	padding: 10px;
	a{
		float: left;
		width: 100%;
		height: 160px;
		background: rgba(0,0,0,0.4) url('img/ico_nimagen.svg') no-repeat center;
		background-size: 35px;
		border:2px dotted #888;
		opacity: 0.6;
	}
	a:hover{
		opacity: 1;
	}
}
.dz-message h1{
	font-weight: 300;
	font-size: 25px;
}
.p_stock{
	float: left;
	font-size: 13px;
	width: 100%;
	margin: 0 5px;
	strong{
		font-size: 16px;
		margin: 0;
	}
}

.con_imagen{
	float: left;
	width: 100%;
	padding: 10px;
	img{
		margin-top: 10px;
		margin-bottom: 5px;
		margin-left: 10%;
		float: left;
		width: 80%;
		height: auto;
	}
}
.busqueda_texto{
	padding: 5px 10px;
	background: #eee;
	border: 3px;
	margin-bottom: 15px;

	input{
		border-top: none !important;
		border-left: none !important;
		border-right: none !important;
		border-bottom: 1px solid #ccc !important;
		float: left;
		width: 100%;
		padding: 5px;
		font-size: 13px;
		font-weight: 300;
		color: #999;
		background: transparent;
	}
}

.busqueda_linea{
	ol{
		width: 100% !important;
	}
	li{
		width: 100% !important;
	}
	h3{
		font-size: 14px;
		margin:12px 0;
		float: left;
		width: 100%;
	}
	.btn-default{
		background:#eee !important;
		border-color: #ddd !important;
		padding: 8px 10px !important;
		color: #999 !important;
	}
}

.agre_pro{
	float: left;
	width: 100%;
	ul{
		float: left;
		width: 100%;
		list-style: none;
		display: table;
		padding: 0;
	}
	li{
		float: left;
		display: table-cell;
		width: 100%;
		border-top: 1px solid #eee;
	}
}
.maxtd_long{
	width: 100px;
}
.ico_check{
			float: left;
			width: 100%;
			height: 18px;
			background: url('img/ico_check.svg') no-repeat center;
			background-size: 15px;
		}
.ico_del{
			float: left;
			width: 100%;
			height: 18px;
			background: url('img/ico_del.svg') no-repeat center;
			background-size: 13px;
		}
.op_elim{
	float: right;
}
.a_elim{
	float: right;
	width: 30px;
	height: 30px;
	position: relative;
}
.td_first{
	width: 10px;
}
.td_no{
	width: 80px;
}
.trc_ama{
	background: rgba(255, 233, 0,0.2);
	td{
		border-bottom-color: rgba(255, 233, 0,0.3) !important;
	}
	.td_first{
		background: rgba(255, 233, 0,0.5);
	}
}
	.trc_ama:hover{
		background: rgba(255, 233, 0,0.3) !important;
	}

.trc_ver{
	background: rgba(0, 171, 239,0.05);
	td{
		border-bottom-color: rgba(0, 171, 239,0.1) !important;
	}
	.td_first{
		background: rgba(0, 171, 239,0.25);
	}
}
	.trc_ver:hover{
		background: rgba(0, 171, 239,0.1) !important;
	}


.trc_fus{
	background: rgba(238, 170, 247,0.1);
	td{
		border-bottom-color: rgba(238, 170, 247,0.15) !important;
	}
	.td_first{
		background: rgba(238, 170, 247,0.50);
	}
}
	.trc_fus:hover{
		background: rgba(238, 170, 247,0.2) !important;
	}

.ico_excelazul{
		background: url('img/ico_excelazul.svg') no-repeat center;
 		background-size: 18px; 
 	
}

.ico_excelazul:hover{
 		border-radius:50%;
 		background: $btn_azul url('img/ico_excelblanco.svg') no-repeat center;
 		background-size: 15px; 
}

.fondo_acep{
	background: #f5f5f5 !important;
}
.info_colores{
	float: left;
	ul{
		float: left;
		padding: 0;
		list-style: none;
		margin:0 0 10px 0;
	}
	li{
		float: left;
		margin-right: 10px;

		span{
			float: left;
			margin-right: 5px;
			width: 25px;
			height: 25px;
			border-radius: 50%;
			/*border:1px solid #ccc;*/
		}
		.color_ncom{
			background: #FFF15A;
		}
		.color_encom{
			background: #B7E7FB;
		}
		.color_falcom{
			background: #eeaaf7;
		}
		.color_tercom{
			background: #fff;
		}
		p{
			float: left;
			font-size: 12px;
			color: #999;
			margin: 0;
			margin-top: 3px;
		}
	}

}
.stock_pro{
	font-size: 16px;
	padding: 10px 5px;
	background:#F0AD4E;
	color: #fff;
	margin:0;
	float: left;
	width: 100%; 
}

.header_caja{
	float: left;
	width: 100%;
	padding:10px 15px;
	border-bottom: 1px solid #eee;

	.header_cliente{
		float: left;
		width: 150px;

		p{
			float: left;
			margin-bottom: 0;
			margin-right: 10px;
			margin-top: 5px;
			color: #3fb1b5;
		    font-weight: normal;
		    font-size: 12px;
		}


	}
	.header_nofactura{
		float: right;
		width: 200px;
		p{
			float: left;
			margin-bottom: 0;
			margin-right: 10px;
			margin-top: 5px;
			color: #3fb1b5;
		    font-weight: normal;
		    font-size: 12px;
		}
		h3{
			margin:0;
		}
	}
}
.middle_caja{
	float: left;
	width: 100%;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
	background: #f9f9f9 !important;
}
.topinput{
	margin-top: 7px;
}
.sinheight{
	min-height: auto !important;
}
.ico_agregar{
			float: left;
			width: 100%;
			height: 18px;
			background: url('img/ico_nuevo.svg') no-repeat center;
			background-size: 15px;
		}

		.ico_porcenbtn{
			float: left;
			width: 100%;
			height: 18px;
			background: url('img/ico_porcenbtn.svg') no-repeat center;
			background-size: 15px;
		}		

		.ico_porcenbtnx{
			float: left;
			width: 100%;
			height: 18px;
			background: url('img/ico_cerrar_b.svg') no-repeat center;
			background-size: 15px;
		}		
.top_menu{
	height: 50px;
}
.top_conte{
	margin-top: 15px;
}
.agregar_pro{
	float: left;
	width: 100%;
	padding: 10px 15px;
	background: #f9f9f9;
}
.label-gris{
    padding: .2em .6em .3em;
    color: #eee;
    font-size: 75%;
}
.estilo_middle{
	margin-top: 10px;
	h3{
		float: left;
		margin:0;
		margin-right: 5px;
		font-weight: bold;
	    color: #3fb1b5;
	    font-size: 12px;
	    margin-bottom: 15px;
	}
	p{
		float: left;
		margin:0;
		margin-bottom: 15px;
	}
}
.area_total{
	float: left;
	width: 100%;
	border-top: 1px solid #eee;
	padding: 15px;
	h3{
		font-size: 22px;
		font-weight: bold;
		margin:0;
		float: right;
		margin-right: 5px;
		margin-top: 3px;
	}
	p{
		font-size: 22px;
		font-weight: 300;
		margin:0;
		float: right;
		padding: 0;
	}
}
.tfactura{
	margin-top: 15px;
}
.mbotom{
	margin-bottom: 35px;
}
.h4_tit{
	margin-top: 15px;
}
.bus_tabla{
	float: left;
	width: 100%;

	h3{
		font-size: 14px;
		font-weight: bold;
		float: left;
		margin-right: 10px;
		padding: 5px 0;
	}
	ol{
		float: left;
		width: 100%;
		margin-top: 10px;
	}
}
.h3_noasig{
	text-align: center;
	margin-top: 50px;
	font-weight: 200;
}
.info_final{
	float: left;
	width: 100%;
	padding: 15px;
	font-family: "Inconsolata", sans-serif;
	h3{
		float: left;
		width: 100%;
		text-align: center;
		font-weight: bold;
	}
	h4{
		float: left;
		width: 100%;
		font-size: 15px;
		text-align: center;
		margin-top: 0;
		padding-bottom: 10px;
		border-bottom: 1px solid #ccc;
	}
}
.info_finalusuario{
	float: left;
	width: 100%;
			padding-bottom: 10px;
}
.info_finalproductos{
	float: left;
	width: 100%;
	padding: 20px 0;

	table{
		width: 100%;

		thead>tr>th{
			font-size: 11px;
			font-weight: bold;
			border-bottom: 2px solid #ccc;	
			padding: 5px 5px;	
		}

		tbody>tr>td{
			font-size: 12px;
			font-weight: normal;
			border:none;	
			padding: 7px 5px;	
		}
	}
}

.info_finaltotal{
	float: left;
	width: 100%;
	border-top: 2px solid #ccc;

	.eltotal{
		float: right;
		p{
			float: left;
			text-align: right;
			font-size: 15px;
			padding-right: 10px;
			padding-top: 5px;
		}
	}
}
.ico_td{
	text-indent: -999999px;
	width: 20px;
	height: 20px;
	float: left;
}
.ico_pefectivo{
	background: url('img/pago-efectivo.svg') no-repeat center;
	background-size: 20px;
}
.ico_ppos{
	background: url('img/pago-pos.svg') no-repeat center;
	background-size: 20px;
}
.ico_pcheque{
	background: url('img/pago-cheque.svg') no-repeat center;
	background-size: 20px;
}
.ico_pcredito{
	background: url('img/pago-credito.svg') no-repeat center;
	background-size: 20px;
}
.tot_venta{
	font-size: 15px !important;
	font-weight: normal !important;
	color: #006DF0 !important;
}
.info_cliente{
	font-family: $fonts !important;
	margin-bottom: 15px;
	h2{
	font-weight: bold !important;
	font-size: 15px !important;
	color: $cboton !important;
	margin:0 0 5px 0;
	}
	p{
	margin: 5px 0;
	}
}

.descuento_venta{
	float: left;
	width: 100%;
	background:#eee;
	padding:10px;

	p{
		font-size: 13px !important;
		float: left;
		margin-top: 5px;
		margin-right: 5px;
	}
}
